/* material design */
a {
    text-decoration: none;
}
.side_bar {
    background-color: #616161;
    color: #fff;
    text-align: center;
}
.menu_item {
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    color: #ccc;
}
.menu_item_active {
    background-color: #bdbdbd;
    color: #000;
}
.menu_item:hover {
    background-color: #bdbdbd;
    color: #000;
}
.menu_item i {
    color: #e65100;
}
.grad {
    background: linear-gradient(to right, #e78123, #e76, #d23);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
